.container {
    border: 3px solid black;
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.object {
    width: 100px;
    height: 100px;
    border: 3px solid green;
    margin: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes in-square {
    25% {
        transform: translate(100%, 0) rotate(90deg) skew(-10deg, -10deg);
    }

    50% {
        transform: translate(100%, 100%) rotate(180deg) skew(0, 0);
    }

    75% {
        transform: translate(0, 100%) rotate(270deg) skew(10deg, 10deg);
    }

    100% {
        transform: translate(0, 0) rotate(360deg) skew(0, 0);
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

.fade-out {
    animation: fade-in 1s ease-in-out reverse forwards;
}

.in-square {
    animation: in-square 4s infinite;
}

.hover-fade {
    background-color: #f0ff00;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.hover-fade:hover {
    opacity: 0;
}

.hover-fade-reverse {
    background-color: red;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.hover-fade-reverse:hover {
    opacity: 1;
}


@font-face {
    font-family: SpicyRice;
    src: url('../fonts/SpicyRice-Regular.ttf');
}

.new-font{
    font-family: SpicyRice;
    font-size: 40px;
}

.wrapper{
    display: flex;
    width: 800px;
    height: 800px;
    margin: 50px auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.wrapper div{
    flex: 1 1 200px;
    background-color: #a7aaab;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper div:hover{
    flex: 1 0 300px;

}

.blue:hover{
    background-color: blue;
    color: white;
}

.red:hover{
    background-color: red;
    color: white;
}

.green:hover{
    background-color: green;
}

.yellow:hover{
    background-color: yellow;
}

.wrapper div:not(:last-child){
    border-right: 1px solid black;
}