div:empty {
    width: 100%;
    height: 10px;
    background-color: black;
}

input:enabled {
    background-color: yellow;
}

input:disabled {
    background-color: grey;
}

input:required {
    border: 2px solid red;
}

input[value="2"] + label {
    color: red;
}

input[type="text"]:focus {
    outline: none;
}

input[type="radio"]:checked + label {
    color: green;
    font-weight: bold;
}

input[type="checkbox"]:nth-last-child(9) + label {
    font-size: 40px;
}

form > div:first-child {
    padding: 10px 15px;
    border: 2px solid red;
}

form > div:last-of-type {
    border: 2px dotted green;
    padding: 10px 15px;
}

form > :last-child {
    border: 4px solid blue;
}

.checkboxes input:first-of-type + label {
    color: blue;
    font-size: 30px;
}

p:only-child {
    font-size: 23px;
}

p:not(.default) {
    background-color: gainsboro;
}