.top-level .second-level a, .top-level .third-level a {
    color: #000;
}

.third-level {
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level > li {
    height: 30px;
    background: #e6e2e5;
}

.third-level > li:hover {
    background: #CCCCCC;
}

.second-level {
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level > li {
    position: relative;
    height: 30px;
    background: #e6e2e5;
}

.second-level > li:hover {
    background: #CCCCCC;
}

.top-level {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level > li {
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #0e9907;
}

.top-level > li:hover {
    background: #00cc37;
}

.top-level li:hover > ul {
    display: inline;
}

.top-level a {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
}
